.login-container {
    margin-top: 20vh;
    width: 300px;

    h2 {
        text-align: center;
        color: deepskyblue;
        margin-bottom:20px;
    }

    div {
        margin-bottom: 20px;
    }
    button{
        width: 100%;
        &.btn-primary{
            background-color: deepskyblue;
            border-color:deepskyblue;
        }
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgb(0, 0, 0);
    }
    
}
.modal{
    .modal-header{
        justify-content: flex-end;
    }
}
